.button{
    -fx-background-color: white;
    -fx-border-color: #15123b ;
    -fx-border-width: 1.5px;
    -fx-border-radius: 10px;

}
.button:hover{
    -fx-background-color: #15123b;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-cursor: hand;

}
#logo{
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
